{% extends "layouts/default.html" %}

{% macro albumList(newArtist,statusName) %}
{% for status in data.statuses %}
    {% if status.name == statusName %}
        <h3>{{ newArtist }} - {{ status.name }}</h3>
        {% if newArtist == 'New' %}
            {% set isNewArtist = true %}
        {% else %}
            {% set isNewArtist = false %}
        {% endif %}

        <div class="row">
            {% for album in data.albums %}
                {% if (status.id == album.status) and (album.newArtist == isNewArtist) %}
                    <div class="col-md-3" style="min-height: 330px;">
                        <img src="{{ album._.image.fit(240,240) }}" class="img" style="min-height: 240px; background-contain: cover;">
                            <p>
                        {% for artist in data.artists %}
                            {% if artist.id == album.artist %}
                                <!-- <a href="https://rateyourmusic.com/artist/{{ artist.slug }}" target="_blank"><strong>{{ artist.name }}</strong></a><br> -->
                                <a href="/artist/{{ artist.slug }}"><strong>{{ artist.name }}</strong></a><br>
                            {% elseif (album.artist | length) > 1 %}
                                {% for item in album.artist %}
                                    {% if item == artist.id %}
                                        <!-- <a href="https://rateyourmusic.com/artist/{{ artist.slug }}" target="_blank"><strong>{{ artist.name }}</strong></a><br> -->
                                        <a href="/artist/{{ artist.slug }}"><strong>{{ artist.name }}</strong></a><br>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {{ album.name }} ({{ album._.year.format("YYYY") }})</p>
                        {% set statusNamePrep = statusName | lower %}
                        {% if statusName == 'Curious' %}
                            <p>Added: {{ album._.curiousDate.format("MMMM DD YYYY") }}</p>
                        {% elseif statusName == 'Interested' %}
                            <p>Added: {{ album._.interestedDate.format("MMMM DD YYYY") }}</p>
                        {% elseif statusName == 'Great' %}
                            <p>Added: {{ album._.greatDate.format("MMMM DD YYYY") }}</p>
                        {% elseif statusName == 'Excellent' %}
                            <p>Added: {{ album._.excellentDate.format("MMMM DD YYYY") }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
{% endmacro %}

{% block content %}
<div class="container">
    {{ albumList('New','Curious') }}
    {{ albumList('New','Interested') }}
    {{ albumList('New','Great') }}
    {{ albumList('New','Excellent') }}
    {{ albumList('Known','Curious') }}
    {{ albumList('Known','Interested') }}
    {{ albumList('Known','Great') }}
    {{ albumList('Known','Excellent') }}
</div>
{% endblock %}
