{% extends "layouts/default.html" %}

{% macro albumList(newArtist,statusName) %}
{% for status in data.statuses %}
    {% if status.name == statusName %}
        <h3>{{ newArtist }} - {{ status.name }}</h3>
        {% if newArtist == 'New' %}
            {% set isNewArtist = true %}
        {% else %}
            {% set isNewArtist = false %}
        {% endif %}
        <div class="row">
            {% for album in data.albums %}
                {% if (status.id == album.status) and (album.newArtist == isNewArtist) %}
                    <div class="col-md-2" style="min-height: 270px;">
                        <img src="{{ album._.image.fit(180,180) }}" class="img">
                            <p>
                        {% for artist in data.artists %}
                            {% if artist.id == album.artist %}
                                <!-- <a href="https://rateyourmusic.com/artist/{{ artist.slug }}" target="_blank"><strong>{{ artist.name }}</strong></a><br> -->
                                <a href="/artist/{{ artist.slug }}"><strong>{{ artist.name }}</strong></a><br>
                            {% elseif (album.artist | length) > 1 %}
                                {% for item in album.artist %}
                                    {% if item == artist.id %}
                                        <!-- <a href="https://rateyourmusic.com/artist/{{ artist.slug }}" target="_blank"><strong>{{ artist.name }}</strong></a><br> -->
                                        <a href="/artist/{{ artist.slug }}"><strong>{{ artist.name }}</strong></a><br>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {{ album.name }} ({{ album._.year.format("YYYY") }})</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
{% endmacro %}

{% block content %}
<div class="container">
    {{ albumList('New','Wonderful') }}
    {{ albumList('New','Not Quite Wonderful --]') }}
    {{ albumList('New','Great, Not Gripping --]') }}
    {{ albumList('New','Decent Stuff --]') }}
    {{ albumList('New','Not Interested --]') }}
    {{ albumList('Known','Wonderful') }}
    {{ albumList('Known','Not Quite Wonderful --]') }}
    {{ albumList('Known','Great, Not Gripping --]') }}
    {{ albumList('Known','Decent Stuff --]') }}
    {{ albumList('Known','Not Interested --]') }}
</div>
{% endblock %}
