{% extends "layouts/default.html" %}
{% import "macros/macros.html" as macro %}

{% block content %}
<div class="container">
	<h3>
		<span class="glyphicon glyphicon-headphones"></span>
		On my plate
	</h3>
	<h4>I'm curious about this.</h4>
	{% for i in range(1990, 2020) | reverse %}
	{{ macro.albumListByYear(data,'Curious',i) }}
	{% endfor %}
	<h3>
		<span class="glyphicon glyphicon-trash"></span>
		In the bin
	</h3>
	<h4>Not interesting at all.</h4>
	{% for i in range(1990, 2020) | reverse %}
	{{ macro.albumListByYear(data,'Not Interested --]',i) }}
	{% endfor %}
</div>
{% endblock %}

{% block js %}
<script>

	$(document).ready(function () {
		console.log("ready!");

		$('.js-check404').click(function (el) {
			console.log('clicked');
			var url = $(this).data('url');
			var artist = $(this).data('artist');
			console.log(url);
			UrlExists(url, function (status) {
				console.log(status);
				if (status === 200) {
					window.open(url, '_blank');
				} else {
					console.log('404');
					console.log(artist);
					artist = artist.replace(/-/gi, '_');
					console.log(artist);
					window.open('https://rateyourmusic.com/artist/' + artist, '_blank');
				}
			});
			return false;
		})
	});


	function UrlExists(url, cb) {
		jQuery.ajax({
			url: url,
			timeout: 2000,
			dataType: 'jsonp',
			type: 'GET',
			crossDomain: true,
			complete: function (xhr) {
				console.log(xhr);
				if (typeof cb === 'function')
					cb.apply(this, [xhr.status]);
			}
		});
	}

</script>

{% endblock %}
