{% extends "layouts/default.html" %}
{% import "macros/macros.html" as macro %}

{% block content %}
<div class="container">
    <h3>
        <span class="glyphicon glyphicon-headphones"></span>
        On my plate
    </h3>
    <h4>Great stuff this. Enjoying very much.</h4>
    {{ macro.albumList(data,'Great') }}
    <h3>Off the menu (for now)</h3>
    <h4>Great stuff, but not quite gripping.</h4>
    {{ macro.albumList(data,'Great, Not Gripping --]') }}
</div>
{% endblock %}

{% block js %}
 <script>

    $( document ).ready(function() {
        console.log( "ready!" );

        $('.js-check404').click(function(el){
            console.log('clicked');
            var url = $(this).data('url');
            var artist = $(this).data('artist');
            console.log(url);
            UrlExists(url, function(status){
                console.log(status);
                if(status === 200){
                   window.open(url, '_blank');
                } else {
                   console.log('404');
                   console.log(artist);
                   artist = artist.replace(/-/gi, '_');
                   console.log(artist);
                   window.open('https://rateyourmusic.com/artist/' + artist,'_blank');
                }
            });
            return false;
        })
    });


    function UrlExists(url, cb){
        jQuery.ajax({
            url:      url,
            timeout: 2000,
            dataType: 'jsonp',
            type:     'GET',
            crossDomain: true,
            complete:  function(xhr){
                console.log(xhr);
                if(typeof cb === 'function')
                   cb.apply(this, [xhr.status]);
            }
        });
    }

 </script>

{% endblock %}
