{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			{% for album in data.albums %}
				{% if album.movement %}
					<p>{{ album.name }} by
						{% for artist in data.artists %}
	                        {% if artist.id == album.artist %}
	                            <!-- <a href="https://rateyourmusic.com/artist/{{ artist.slug }}" target="_blank"><strong>{{ artist.name }}</strong></a><br> -->
	                            <a href="/artist/{{ artist.slug }}">{{ artist.name }}</a>
	                        {% elseif (album.artist | length) > 1 %}
	                            {% for item in album.artist %}
	                                {% if item == artist.id %}
	                                    <!-- <a href="https://rateyourmusic.com/artist/{{ artist.slug }}" target="_blank"><strong>{{ artist.name }}</strong></a><br> -->
	                                    <a href="/artist/{{ artist.slug }}">{{ artist.name }}</a>
	                                {% endif %}
	                            {% endfor %}
	                        {% endif %}
	                    {% endfor %}
	                    was moved to
	                    {% for status in data.statuses %}
	                    	{% if status.id == album.status %}
	                    		<strong>{{ status.name}}</strong>
	                    		{% if status.name == 'Wonderful' %}
	                    			({{ album._.wonderfulDate.format("MMMM DD YYYY") }})
	                    		{% elseif status.name == 'Not Quite Wonderful --]' %}
	                    			({{ album._.notQuiteWonderfulDate.format("MMMM DD YYYY") }})
	                    		{% endif %}
	                    	{% endif %}
                    	{% endfor %}
	                </p>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
