{% macro albumName(album) %}
    <span class="lead">
        <strong>{{ album.name }}</strong>
        <small>({{album._.year.format('YYYY')}})</small>
    </span>
{% endmacro %}

{% macro artistLink(artistSlug, artistName, albumNewArtist) %}
    <a href="/artist/{{ artistSlug }}">
        {{ artistName }}
    </a>
    {% if albumNewArtist %}
        <span class="label label-success">New artist</span>
    {% endif %}
{% endmacro %}

{% macro rymLink(artistSlug,albumName,rymUrl) %}
    {% if rymUrl %}
        <a href="{{ rymUrl }}" target="_blank">rym</a>
    {% else %}
        <a href="#" data-url="https://rateyourmusic.com/release/album/{{ artistSlug }}/{{ albumName | lower | replace(" ", "-") }}" data-artist="{{ artistSlug }}" data-album="{{ albumName | lower | replace(" ", "-") }}" class="js-check404">rym</a>
    {% endif %}
{% endmacro %}

{% macro lyricsLink(artistSlug, albumKey) %}
    <a href="https://genius.com/albums/{{ artistSlug }}/{{ albumKey }}" target="_blank">lyrics</a>
{% endmacro %}

{% macro lastFMLink(artistSlug,albumName,lastFmUsername,lastfmUrl) %}
	{% if lastfmUrl %}
		<a href="{{ lastfmUrl }}" target="_blank">last.fm</a>
	{% else %}
		<a href="https://last.fm/user/{{ lastFmUsername }}/library/music/{{ artistSlug | replace("-", "+") }}/{{ albumName | replace(" ", "+") }}" target="_blank">last.fm</a>
	{% endif %}
    
{% endmacro %}

{% macro voteButtons(status,album) %}
    <div class="vote">
        <form action="" method="post" class="vote-demote">
            <input type="hidden" name="action" value="demote">
            <input type="hidden" name="status" value="{{ status.id }}">
            <input type="hidden" name="albumId" value="{{ album.id }}">
            <input type="hidden" name="statusOrder" value="{{ album.status[0].order }}">
            <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
        </form>

        <form action="" method="post" class="vote-promote">
            <input type="hidden" name="action" value="promote">
            <input type="hidden" name="status" value="{{ status.id }}">
            <input type="hidden" name="albumId" value="{{ album.id }}">
            <input type="hidden" name="statusOrder" value="{{ album.status[0].order }}">
            <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
        </form>
    </div>
{% endmacro %}

{% macro albumListByYear(data,user,statusName,statusOrder,statusType,movementYear) %}
    {% for status in data.statuses %}
        {% if status.name == statusName %}
            {% set exists = false %}
            {% for album in data.albums %}
                {% if status.id == album.status[0].id and album._.movementDate.format('YYYY') == movementYear and exists == false %}
                    {% set exists = true %}
                {% endif %}
            {% endfor %}

            {% if exists %}
                <h4 class="push--top">{{ movementYear }}</h4>
                <div class="grid">
                    {% for album in data.albums %}
                        {% if (status.id == album.status[0].id) and (album._.movementDate.format('YYYY') == movementYear) %}
                            <div class="pos-rel">
                                <div class="album-profile">
                                    {% if not (status.type == 'storage' or status.name == 'Wonderful') %}
                                        {{ voteButtons(status,album) }}
                                    {% endif %}



                                    <img src="{{ album._.image.fit(260,260) }}" class="img cover">
                                    <p>
                                        <a href="/album/view/{{ album.key }}">{{ albumName(album) }}</a><br/>
                                        {% for artist in data.artists %}
                                            {% if artist.id == album.artist %}
                                                {{ artistLink(artist.slug,artist.name,album.newArtist) }}
                                                <br><br>
                                                {{ rymLink(artist.slug,album.name,album.rymUrl) }} /
                                                {{ lyricsLink(artist.slug,album.key) }} /
                                                {{ lastFMLink(artist.slug,album.name,user.lastFmUsername,album.lastfmUrl) }}
                                                <br/><span>When: {{ album._[statusType + statusOrder + 'Date'].format("MMMM DD YYYY") }}</span>

                                            {% elseif (album.artist | length) > 1 %}
                                                {% for item in album.artist %}
                                                    {% if item == artist.id %}
                                                        <a href="/artist/{{ artist.slug }}"><strong>{{ artist.name }}</strong></a><br>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
