#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.album-profile {
    .cover {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.lead {
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
    row-gap: 1em;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

.panel-flex {
    display: flex;
    flex-direction: column;
    .panel-footer {
        padding: 1px 12px 3px 12px;
        margin-top: auto;
    }
}
